{% extends "base.html" %}

{% block script %}
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}

{% block main %}
<form method="GET, POST">
    <h1 style="text-align:center;color: MidnightBlue;">Изменение анкеты</h1>

    <div class="error">{{ errors }}</div>

    <div>
        <label for="username">Имя</label>
        <input type="text" name="username" placeholder="username" value="{{ user.username }}">
    </div>

    <div>
        <label for="userage">Возраст</label>
        <input type="number" name="userage" placeholder="userage" value="{{ user.userage }}">
    </div>

    <div>
        <label for="gender">Выберите свой пол</label>
        <label>
            <input type="radio" value="женский" name="gender">
            женский
        </label>
        <label>
            <input type="radio" value="мужской" name="gender">
            мужской
        </label>
    </div>

    <div>
        <label for="gender_poisk">Выбери пол для поиска</label>
        <label>
            <input type="radio" value="женский" name="gender_poisk">
            женский
        </label>
        <label>
            <input type="radio" value="мужской" name="gender_poisk">
            мужской
        </label>
        
    </div>

    <div>
        <label for="info">Информация о себе</label>
        <input type="text" name="info" placeholder="info" value="{{ user.info }}">
    </div>

    <button class="" type="submit">Созранить изменения</button>
</form>
{% endblock %}
